@charset "UTF-8";

body {
    background-color: #ecd1b7;
}
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font: normal bolder 3em;
    color: #34783C;
    text-align: center;
}
h2 {
    font: normal bold 2em;
    color: #409449;
}
p {
    font: normal normal 1em Georgia, 'Times New Roman', Times, serif ;
    text-align: justify;
    text-indent: 16px;
}
h1:hover {
    color: #944040;
}
h2:hover {
    background-color: rgba(144, 255, 144, 0.5);
}
p:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(144, 255, 144, 0.5);
}
p#sub {
    text-indent: 0;
    text-decoration: none;
    text-shadow: none;
}
p#sub:hover {
    color: #944040;
}
p#main {
    text-decoration: none;
    text-shadow: none;
}
div > p#main {
    display: none;
}
div:hover > p#main {
    display: block;
}