@charset "UTF-8";

@font-face {
    font-family: 'Krona One';
    src: url('fontes/KronaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontes/Montserrat-Regular.ttf') format('truetype');
}

body, mark {
    background-color: #000000;
}
main {
    height: 480px;
    width: 610px;
    position: relative;
    top: 100px;
    left: 350px;
}
h1 {
    font: normal 30px 'Krona One', Arial, sans-serif;
    line-height: 50px;
}
h1, p {
    color: #f6f6f6;
}
mark {
    color: #22D4FD;
}
p {
    font: normal 20px 'Montserrat', 'Times New Roman', serif;
    line-height: 30px;
    padding: 5px 0;
}