@charset "UTF-8";

@font-face {
    font-family: 'Krona One';
    src: url('fontes/KronaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontes/Montserrat-Regular.ttf') format('truetype');
}

main {
    height: 480px;
    width: 610px;
    top: 100px;
    left: 200px;
}
h1 {
    font-size: 30px;
    font-family: 'Krona One', Arial, sans-serif;
    line-height: 50px;
}
mark {
    color: #22D4FD;
}
p {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0;
}
div {
    height: 80px;
    width: 230px;
    background-color: #22D4FD;  
}
a {
    font-weight: bold;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    color: black;
}
a:active {
    color: blue;
}
a:hover {
    text-decoration: underline;
}
img {
    left: 650px;
}
body, mark {
    background-color: black;
}
h1, p {
    font-weight: normal;
    color: #f6f6f6;
}
a, p {
    font-family: 'Montserrat', 'Times New Roman', serif;
}
a, img {
    position: absolute;
}
main, div {
    position: relative;
}
img, div {
    border-radius: 10px;
}
img, #linkLinkedin {
    top: 0px;
}
#linkLinkedin {
    left: 25px;
}
#linkGithub {
    top: -80px;
    left: 355px;
}